* {

  margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Century Gothic';
}

#head{
  position: fixed;
  top: 0;
  font-size:1.5em;
  color:#002133;
  
}

.textTitle{
  width: 80%;
  font-size: 5em;
  margin: 0 10% 0 10%;
}

.textSubTitle{
  width: 50%;
  font-size:2.5em;
  margin: 3% 25% 3% 25%;
}

.text{
  width: 80%;
  font-size: 1em;
  margin: 3% 10% 3% 10%;

}

.fondoAzul{
  color:white;
  background:#002133;
}

.navMenu {
  display: flex;
  flex-flow:row wrap;
  justify-content:center;
  align-content: center;
  width:100%;
  padding: .5em;
}


.navMenu >nav ul li{
  font-size:large;
  display:inline-flex;
  padding:1% 2em 1% 2em;
  margin:auto;
  color:white;
}

a{
  text-decoration: none;
  color: white;
}



.active {
  border-bottom:solid #00e6e6;
}

.inactive{
    border-bottom:none;
}

.onhover{
  
}

.onhover:hover{
  opacity:.4;
}

.footer_fondoAzul {
  color:white;
  background:#002133;
  border-top:.5px solid #00e6e6;
  padding:2%;
}

@media screen and (max-width:380px)
{

  .navMenu >nav ul li{
    font-size:large;
    display:block;
    padding:1% 2em 1% 2em;
    margin:auto;
    color:white;
  }
}